.scene {
    height: 260px;
    perspective: 700px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: #eecc5c;
  }
  
  .card__face--back {
    transform: rotateY(180deg);
  }